@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>
<MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" Size="Size.Large" Color="Color.Primary" />
<MudIconButton Icon="@Icons.Material.Filled.ArrowDropUp" Size="Size.Large" Color="Color.Primary" />
<MudIconButton Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Large" Color="Color.Primary" />
<MudIconButton Icon="@Icons.Material.Filled.ArrowDropDown" Size="Size.Large" Color="Color.Primary" />
<div class="position-relative" style="width: 800px; height: 800px;background-color:slategrey">
	<div class="position-absolute" style="top: @(top)px; left: @(left)px;">
		<MudIcon Icon="@Icons.Material.Filled.DirectionsBus" Size="Size.Large"/>
	</div>
</div>
@code{
	int top = 500;
	int left = 500;
	private void ArrowLeft()
	{
		if(left)
	}
	private void ArrowDropUp()
	{
		top -= 5;
	}
	private void ArrowRight()
	{
		left += 5;
	}
	private void ArrowDropDown()
	{
		top += 5;
	}

}
